
.right{
  float: right;
}
  
.main-character {
  border: 1px solid orange;
}

.character.hunter, .main-character.hunter {
  background-color: var(--color-hunter);
}

.character.druid, .main-character.druid {
  background-color: var(--color-druid);
}

.character.mage, .main-character.mage {
  background-color: var(--color-mage);
}

.character.monk, .main-character.monk {
  background-color: var(--color-monk);
}

.character.paladin, .main-character.paladin {
  background-color: var(--color-paladin);
}

.character.priest, .main-character.priest {
  background-color: var(--color-priest);
}

.character.rogue, .main-character.rogue {
  background-color: var(--color-rogue);
}

.character.shaman, .main-character.shaman {
  background-color: var(--color-shaman);
}

.character.warlock, .main-character.warlock {
  background-color: var(--color-warlock);
}

.character.warrior, .main-character.warrior {
  background-color: var(--color-warrior);
}

.character.death-knight, .main-character.death-knight {
  background-color: var(--color-death-knight);
}
.character.demon-hunter, .main-character.demon-hunter {
  background-color: var(--color-demon-hunter);
}
