
.raid {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 500px;
}

.raid-container {
  display: flex;
}

.raid .raid-group {
  width: 50%;
  height: 254px;
  overflow-y: hidden;
}

.column.raid-comp {
  flex: 0 1 800px;
}