
.raid {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 335px;
}

.raid-container {
  display: flex;
  overflow: hidden;
}

.raid .raid-group {
  width: 50%;
}

.metrics {
  margin: 0 2px;
}

.metrics table tr:nth-child(odd){
  background-color: #eee;
}

.metrics table{
  line-height: 1;
  padding: 1px;
}


.metrics table td{
  border: 1px solid black;
  text-indent: 0.1em;
  padding: 0 0.1em;
}

.mid
{
  text-align: center;
}

.metrics table th{
  border: none;
  padding: 0 0.3em;
  background-color: white;
  text-align: center;
}

.metrics table .subtitle{
  text-align: left;
  padding: 0.5em 0 0 0;
}